/*
 *= require_self
 *= require_tree . 
*/

*  {font-family: sans-serif}

body {padding-left: 10pt}

h1 {font-size: 100pt;
    margin-top: 0}

h1.answer {text-transform: uppercase;
	   text-align: center;
	   margin-bottom: 0;
	   font-size: 150pt}

#no {color: maroon}
#yes {color: darkgreen}

p.explanation {text-align: center}

#amount {padding-left: 3em;
	margin-bottom: 0} 

form, input {font-size: 60pt}

input[type=text] {width: 5em}

input[type=submit] {font-size: 20pt;
		    margin-left: 22em}

#links {right: 2em;
	position: fixed;
        bottom: 1em}

a:link {text-decoration:    none}

a:visited {color:              #2e2e2e;
           text-decoration:    none}

a:hover {color: gray}